In [2]:
import xml.etree.ElementTree as ET
import json
import pandas as pd

In [3]:
#JSON
json_file_path = './Hackathon_Data/olympic_athletes.json'

# Ouvrir et lire le fichier JSON
with open(json_file_path, 'r', encoding='utf-8') as file:
    json_data = json.load(file)

print(json_data[:3])

[{'athlete_url': 'https://olympics.com/en/athletes/cooper-woods-topalovic', 'athlete_full_name': 'Cooper WOODS-TOPALOVIC', 'games_participations': 1, 'first_game': 'Beijing 2022', 'athlete_year_birth': 2000.0, 'athlete_medals': None, 'bio': None}, {'athlete_url': 'https://olympics.com/en/athletes/elofsson', 'athlete_full_name': 'Felix ELOFSSON', 'games_participations': 2, 'first_game': 'PyeongChang 2018', 'athlete_year_birth': 1995.0, 'athlete_medals': None, 'bio': None}, {'athlete_url': 'https://olympics.com/en/athletes/dylan-walczyk', 'athlete_full_name': 'Dylan WALCZYK', 'games_participations': 1, 'first_game': 'Beijing 2022', 'athlete_year_birth': 1993.0, 'athlete_medals': None, 'bio': None}]

In [4]:
df_athlete = pd.DataFrame(json_data)
df_athlete

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None
...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0,None,\n\n\nKent Weigle competed in ice dancing with...
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,None,\n\n\nStefania Bertele had the following place...
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,None,\n\n\nWalter Cecconi had the following placeme...
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,None,\n\n\nSusie Kelley competed in ice dancing wit...
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,None,\n\n\nAndrew Stroukoff competed in ice dancing...

In [5]:
#XML
xml_file_path = './Hackathon_Data/olympic_hosts.xml'

# Lire et parser le fichier XML
tree = ET.parse(xml_file_path)
root = tree.getroot()

#convertir les donnÃ©es en une structure de dictionnaire
data = []
for row in root.findall('row'):
    row_data = {subchild.tag: subchild.text for subchild in row}
    data.append(row_data)

In [6]:
# xml dans un dataframe
df_hosts = pd.DataFrame(data)
df_hosts

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
5,5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
6,6,vancouver-2010,2010-02-28T04:00:00Z,2010-02-12T16:00:00Z,Canada,Vancouver 2010,Winter,2010
7,7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
8,8,turin-2006,2006-02-26T19:00:00Z,2006-02-10T07:00:00Z,Italy,Turin 2006,Winter,2006
9,9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
10,10,salt-lake-city-2002,2002-02-24T08:00:00Z,2002-02-08T15:00:00Z,United States,Salt Lake City 2002,Winter,2002
11,11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
12,12,nagano-1998,1998-02-22T11:00:00Z,1998-02-06T23:00:00Z,Japan,Nagano 1998,Winter,1998
13,13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
14,14,lillehammer-1994,1994-02-27T19:00:00Z,1994-02-12T07:00:00Z,Norway,Lillehammer 1994,Winter,1994
15,15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
16,16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
17,17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
18,18,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
19,19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
20,20,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984
21,21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
22,22,lake-placid-1980,1980-02-24T01:00:00Z,1980-02-13T13:00:00Z,United States,Lake Placid 1980,Winter,1980
23,23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
24,24,innsbruck-1976,1976-02-15T19:00:00Z,1976-02-04T07:00:00Z,Austria,Innsbruck 1976,Winter,1976
25,25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
26,26,sapporo-1972,1972-02-13T11:00:00Z,1972-02-02T23:00:00Z,Japan,Sapporo 1972,Winter,1972
27,27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
28,28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
29,29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
30,30,innsbruck-1964,1964-02-09T19:00:00Z,1964-01-29T07:00:00Z,Austria,Innsbruck 1964,Winter,1964
31,31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
32,32,squaw-valley-1960,1960-02-28T04:00:00Z,1960-02-18T16:00:00Z,United States,Squaw Valley 1960,Winter,1960
33,33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
34,34,cortina-d-ampezzo-1956,1956-02-05T19:00:00Z,1956-01-26T07:00:00Z,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
36,36,oslo-1952,1952-02-25T19:00:00Z,1952-02-14T07:00:00Z,Norway,Oslo 1952,Winter,1952
37,37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
38,38,st-moritz-1948,1948-02-08T19:00:00Z,1948-01-30T07:00:00Z,Switzerland,St. Moritz 1948,Winter,1948
39,39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
40,40,garmisch-partenkirchen-1936,1936-02-16T20:00:00Z,1936-02-06T08:00:00Z,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
42,42,lake-placid-1932,1932-02-15T18:00:00Z,1932-02-04T13:00:00Z,United States,Lake Placid 1932,Winter,1932
43,43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
44,44,st-moritz-1928,1928-02-19T08:00:00Z,1928-02-11T08:00:00Z,Switzerland,St. Moritz 1928,Winter,1928
45,45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
47,47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [7]:
#XLSX
xlsx_file_path = './Hackathon_Data/olympic_medals.xlsx'

df_medals = pd.read_excel(xlsx_file_path)

df_medals.drop(columns=['Unnamed: 0'], inplace=True)

df_medals

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,NaN,Alexandros Nikolopoulos,Greece,GR,GRE
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE

In [8]:
#HTML
def read_html(chemin_fichier):
    df = pd.read_html(chemin_fichier)[0]
    return df

chemin_fichier_html = './Hackathon_Data/olympic_results.html'
df_results = read_html(chemin_fichier_html)
df_results.drop(columns=['Unnamed: 0'], inplace=True)
df_results

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk MÃƒÂ¼ckenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [9]:
# QUESTIONS OUVERTES :

In [10]:
# Combien de mÃ©dailles la France a remportÃ© : en tout, en Or, en argent et en Bronze (depuis le dÃ©but des JO) ?

# on filtre sur la France
france_medals = df_medals[df_medals['country_name'] == 'France']

# nombre total de mÃ©dailles
total_medals = france_medals.shape[0]

#nombre de mÃ©dailles d'or, d'argent et de bronze
gold_medals = france_medals[france_medals['medal_type'] == 'GOLD'].shape[0]
silver_medals = france_medals[france_medals['medal_type'] == 'SILVER'].shape[0]
bronze_medals = france_medals[france_medals['medal_type'] == 'BRONZE'].shape[0]

print(f"Total des mÃ©dailles remportÃ©es par la France : {total_medals}")
print(f"Total des mÃ©dailles d'or : {gold_medals}")
print(f"Total des mÃ©dailles d'argent : {silver_medals}")
print(f"Total des mÃ©dailles de bronze : {bronze_medals}")

Total des mÃ©dailles remportÃ©es par la France : 952
Total des mÃ©dailles d'or : 282
Total des mÃ©dailles d'argent : 305
Total des mÃ©dailles de bronze : 365

In [11]:
# Lors de quelle JO la France a eu le plus (le moins) de succÃ¨s ?

# filtre sur la France
france_medals = df_medals[df_medals['country_name'] == 'France']

#nombre de mÃ©dailles pour chaque Ã©dition
medals_per_game = france_medals.groupby('slug_game').size().reset_index(name='medal_count')

# le plus de mÃ©dailles
max_medals = medals_per_game[medals_per_game['medal_count'] == medals_per_game['medal_count'].max()]

#le moins de mÃ©dailles
min_medals = medals_per_game[medals_per_game['medal_count'] == medals_per_game['medal_count'].min()]

print("Ã‰dition des JO avec le plus de succÃ¨s pour la France:")
print(max_medals)
print("Ã‰dition des JO avec le moins de succÃ¨s pour la France:")
print(min_medals)

Ã‰dition des JO avec le plus de succÃ¨s pour la France:
     slug_game  medal_count
32  paris-1900          103
Ã‰dition des JO avec le moins de succÃ¨s pour la France:
                      slug_game  medal_count
12  garmisch-partenkirchen-1936            1
16               innsbruck-1976            1
18             lake-placid-1980            1
31                    oslo-1952            1
43                st-louis-1904            1

In [12]:
# nombre de mÃ©daille obtenues par la France pour chaque JO
medals_per_game_sorted = medals_per_game.sort_values(by='medal_count')
medals_per_game_sorted

                      slug_game  medal_count
43                st-louis-1904            1
31                    oslo-1952            1
18             lake-placid-1980            1
12  garmisch-partenkirchen-1936            1
16               innsbruck-1976            1
10                 calgary-1988            2
44               st-moritz-1928            2
17             lake-placid-1932            2
42            squaw-valley-1960            3
39                sarajevo-1984            3
38                 sapporo-1972            3
11                chamonix-1924            4
45               st-moritz-1948            5
36                    rome-1960            5
19             lillehammer-1994            5
15               innsbruck-1964            7
50                   turin-2006            9
13                grenoble-1968            9
30                  nagano-1998            9
27                montreal-1976            9
0              albertville-1992           10
51               vancouver-2010           11
3                   athens-1896           11
37          salt-lake-city-2002           12
28                  moscow-1980           14
41                   sochi-2014           15
8                  beijing-2022           15
29                  munich-1972           15
25               melbourne-1956           15
26             mexico-city-1968           16
48                   tokyo-1964           16
34             pyeongchang-2018           17
46               stockholm-1912           17
14                helsinki-1952           17
9                   berlin-1936           19
40                   seoul-1988           19
20                  london-1908           20
23             los-angeles-1932           20
1                amsterdam-1928           21
24             los-angeles-1984           31
21                  london-1948           32
6                barcelona-1992           32
4                   athens-2004           36
49                   tokyo-2020           37
22                  london-2012           38
5                  atlanta-1996           41
47                  sydney-2000           42
33                   paris-1924           43
35                     rio-2016           45
2                  antwerp-1920           45
7                  beijing-2008           45
32                   paris-1900          103

In [13]:
# Peut-on considÃ©rer que la France est la grande spÃ©cialiste de certaine(s) discipline(s) sportive(s),
# comparativement aux autres nations ? Laquelle / Lesquelles ?

# nombre de mÃ©dailles par discipline
medals_per_discipline = france_medals.groupby('discipline_title').size().reset_index(name='medal_count')

excellent_disciplines = medals_per_discipline[medals_per_discipline['medal_count'] >= 50]

print("Meilleur Disciplines de la France :")
print(excellent_disciplines)

Meilleur Disciplines de la France :
   discipline_title  medal_count
0     Alpine Skiing           51
2         Athletics           70
16    Cycling Track           74
23          Fencing          123
29             Judo           57
35           Rowing           51
38          Sailing           61

In [14]:
# Quelles sont les sports les plus dominants dans les JO au fil des ans ?

#nombre total de mÃ©dailles par sport
medals_per_sport = df_medals.groupby('discipline_title').size().reset_index(name='medal_count')

#trier les sports par le nombre total de mÃ©dailles
most_dominant_sports = medals_per_sport.sort_values(by='medal_count', ascending=False)

print("Sports les plus dominants dans les Jeux Olympiques :")
most_dominant_sports.head(10)

Sports les plus dominants dans les Jeux Olympiques :

       discipline_title  medal_count
5             Athletics         3080
72             Swimming         1763
85            Wrestling         1356
57               Rowing         1072
14               Boxing          996
39  Gymnastics Artistic          979
61             Shooting          871
17         Canoe Sprint          799
60              Sailing          771
84        Weightlifting          679

## Questions - EvÃ¨nements marquants aux JO :

In [15]:
# 1. La France a organisÃ© 6 JO : 3 dâ€™hiver et 3 dâ€™Ã©tÃ© (en comptant celui de 2024) ?

# Filtrer les Jeux Olympiques organisÃ©s par la France en utilisant la colonne correcte 'game_location'
france_olympics = df_hosts[df_hosts['game_location'] == 'France']

# SÃ©parer les Jeux d'Ã©tÃ© et d'hiver en utilisant la colonne 'game_season'
summer_olympics = france_olympics[france_olympics['game_season'] == 'Summer']
winter_olympics = france_olympics[france_olympics['game_season'] == 'Winter']

# Compter le nombre de Jeux d'Ã©tÃ© et d'hiver
summer_count = len(summer_olympics)
winter_count = len(winter_olympics)
total_count = summer_count + winter_count

print(f"Nombre de Jeux d'Ã©tÃ© organisÃ©s en France : {summer_count}")
print(f"Nombre de Jeux d'hiver organisÃ©s en France : {winter_count}")
print(f"Total des Jeux Olympiques organisÃ©s en France : {total_count}")

Nombre de Jeux d'Ã©tÃ© organisÃ©s en France : 2
Nombre de Jeux d'hiver organisÃ©s en France : 3
Total des Jeux Olympiques organisÃ©s en France : 5

##### En ajoutant les JO 2024, on a donc bien 6 JO organisÃ©s par la France

In [16]:
# 2. La France est le 2Ã¨ pays qui a organisÃ© le plus de JO aprÃ¨s les USA (8 JO) ?

# Compter le nombre de fois que chaque pays a organisÃ© les JO
hosts_count = df_hosts['game_location'].value_counts()

# Trouver le rang de la France et comparer au nombre total pour les USA
france_rank = hosts_count.rank(method='max', ascending=False)['France']
usa_organized = hosts_count['United States']

# Afficher les rÃ©sultats
print(f"La France est classÃ©e {int(france_rank)}Ã¨me en nombre de JO organisÃ©s.")
print(f"Les Ã‰tats-Unis ont organisÃ© {usa_organized} JO.")

La France est classÃ©e 2Ã¨me en nombre de JO organisÃ©s.
Les Ã‰tats-Unis ont organisÃ© 8 JO.

##### La france est donc bien le 2Ã¨me pays Ã  avoir organisÃ© le plus de JO aprÃ¨s les USA

In [17]:
# 3. Les JO dâ€™hiver sont nÃ©s Ã  Chamonix en 1924 ?

# Filtrer les Jeux Olympiques d'hiver
winter_olympics = df_hosts[df_hosts['game_season'] == 'Winter']

# Trier par annÃ©e pour trouver le premier Jeux d'hiver organisÃ©
first_winter_olympics = winter_olympics.sort_values(by='game_year').iloc[0]

# Construire le message de rÃ©ponse
location = first_winter_olympics['game_location']
year = first_winter_olympics['game_year']
game_name = first_winter_olympics['game_name']

# Afficher le rÃ©sultat
print(f"Les premiers JO d'Hiver ont eu lieu Ã  {game_name} en {year}")

Les premiers JO d'Hiver ont eu lieu Ã  Chamonix 1924 en 1924

In [19]:
# 4. JO de Paris, en 1900 : les femmes peuvent participer aux JO ?

# Filtrer les mÃ©dailles remportÃ©es lors des Jeux de Paris 1900
paris_1900_medals = df_medals[df_medals['slug_game'] == 'paris-1900']

# VÃ©rifier la prÃ©sence de compÃ©titions fÃ©minines
women_events = paris_1900_medals[paris_1900_medals['event_gender'] == 'Women']

# Afficher les rÃ©sultats
if not women_events.empty:
    print(f"Des compÃ©titions fÃ©minines ont eu lieu lors des JO de Paris 1900.")
    print(f"Ã‰vÃ©nements: {women_events['event_title'].unique()}")
else:
    print("Aucune compÃ©tition fÃ©minine n'a Ã©tÃ© enregistrÃ©e lors des JO de Paris 1900.")

Des compÃ©titions fÃ©minines ont eu lieu lors des JO de Paris 1900.
Ã‰vÃ©nements: ['Individual women' 'Singles women']

In [45]:
# 6. De 1924 Ã  1992, les JO dâ€™hiver et dâ€™Ã©tÃ© avaient lieu au cours de la mÃªme annÃ©e. DÃ©sormais, ils sont organisÃ©s selon des cycles distincts avec une alternance de 2 ans ?

# Convertir les annÃ©es en entiers
df_hosts['game_year'] = df_hosts['game_year'].astype(int)

# Filtrer les donnÃ©es pour les Jeux entre 1924 et 1992
games_1924_1992 = df_hosts[(df_hosts['game_year'] >= 1924) & (df_hosts['game_year'] <= 1992)]

# VÃ©rifier si les Jeux d'hiver et d'Ã©tÃ© avaient lieu la mÃªme annÃ©e
same_year_games = games_1924_1992.pivot_table(index='game_year', columns='game_season', aggfunc='size', fill_value=0)
same_year_games = same_year_games[(same_year_games['Summer'] > 0) & (same_year_games['Winter'] > 0)]

# Afficher les rÃ©sultats
if same_year_games.empty:
    print("Entre 1924 et 1992, les JO d'hiver et d'Ã©tÃ© n'ont pas eu lieu la mÃªme annÃ©e.")
else:
    print(same_year_games)
    print("Entre 1924 et 1992, les JO d'hiver et d'Ã©tÃ© ont bien eu lieu la mÃªme annÃ©e.")


# VÃ©rifier s'ils sont dÃ©sormais organisÃ©s selon des cycles distincts avec une alternance de 2 ans aprÃ¨s 1992
games_after_1992 = df_hosts[df_hosts['game_year'] > 1992]
games_after_1992 = games_after_1992.pivot_table(index='game_year', columns='game_season', aggfunc='size', fill_value=0)

# Afficher les rÃ©sultats
if games_after_1992.empty:
    print("AprÃ¨s 1992, les JO d'hiver et d'Ã©tÃ© n'ont pas eu lieu la mÃªme annÃ©e.")
else:
    print(games_after_1992)
    print("AprÃ¨s 1992, les JO d'hiver et d'Ã©tÃ© sont organisÃ©s selon des cycles distincts avec une alternance de 2 ans.")

game_season  Summer  Winter
game_year
1924              1       1
1928              1       1
1932              1       1
1936              1       1
1948              1       1
1952              1       1
1956              1       1
1960              1       1
1964              1       1
1968              1       1
1972              1       1
1976              1       1
1980              1       1
1984              1       1
1988              1       1
1992              1       1
Entre 1924 et 1992, les JO d'hiver et d'Ã©tÃ© ont bien eu lieu la mÃªme annÃ©e.
game_season  Summer  Winter
game_year
1994              0       1
1996              1       0
1998              0       1
2000              1       0
2002              0       1
2004              1       0
2006              0       1
2008              1       0
2010              0       1
2012              1       0
2014              0       1
2016              1       0
2018              0       1
2020              1       0
2022              0       1
AprÃ¨s 1992, les JO d'hiver et d'Ã©tÃ© sont organisÃ©s selon des cycles distincts avec une alternance de 2 ans.

In [56]:
# 7. Tarzan lui-mÃªme a participÃ© aux JO. En effet, Johnny Weissmuller, ancien athlÃ¨te devenu acteur et ayant interprÃ©tÃ© 12 films de Tarzan, a remportÃ© 5 mÃ©dailles dâ€™or en natation dans les annÃ©es 1920 ?

# Filtrer les mÃ©dailles d'or remportÃ©es par Johnny Weissmuller
weissmuller_gold_medals = df_medals[(df_medals['athlete_full_name'] == 'Johnny WEISSMULLER') & (df_medals['medal_type'] == 'GOLD')]

# Afficher le nombre de mÃ©dailles d'or et les annÃ©es d'obtention
if not weissmuller_gold_medals.empty:
    print(f"Johnny Weissmuller a remportÃ© {len(weissmuller_gold_medals)} mÃ©dailles d'or aux JO. Voici les dÃ©tails :")
    for index, row in weissmuller_gold_medals.iterrows():
        print(f"MÃ©daille d'Or - {row['event_title']}, Sport : {row['discipline_title']}, Jeux : {row['slug_game']}")
else:
    print("Aucune mÃ©daille d'or n'a Ã©tÃ© remportÃ©e par Johnny Weissmuller aux JO selon les donnÃ©es disponibles.")

if len(weissmuller_gold_medals) >= 5:
    print("Johnny Weissmuller a bien remportÃ© 5 mÃ©dailles d'or aux JO.")
else:
    print("Johnny Weissmuller n'a pas remportÃ© 5 mÃ©dailles d'or aux JO.")

Johnny Weissmuller a remportÃ© 3 mÃ©dailles d'or aux JO. Voici les dÃ©tails :
MÃ©daille d'Or - 100m freestyle men, Sport : Swimming, Jeux : amsterdam-1928
MÃ©daille d'Or - 400m freestyle men, Sport : Swimming, Jeux : paris-1924
MÃ©daille d'Or - 100m freestyle men, Sport : Swimming, Jeux : paris-1924
Johnny Weissmuller n'a pas remportÃ© 5 mÃ©dailles d'or aux JO.

In [57]:
# 8. Les JO de Londres de 2012 ont Ã©tÃ© les 1ers JO durant lesquels tous les pays participants ont envoyÃ© des athlÃ¨tes de sexe fÃ©minin ?

# Filtrer les donnÃ©es pour les Jeux de Londres 2012
london_2012 = df_medals[df_medals['slug_game'] == 'london-2012']

# VÃ©rifier si tous les pays ont envoyÃ© des athlÃ¨tes fÃ©minines
female_participants = london_2012[london_2012['event_gender'] == 'Women']
countries_with_female_athletes = female_participants['country_name'].unique()

# Obtenir la liste des pays participants Ã  Londres 2012
all_countries = london_2012['country_name'].unique()

# Comparer les deux listes pour voir si tous les pays ont envoyÃ© des athlÃ¨tes fÃ©minines
if set(countries_with_female_athletes) == set(all_countries):
    print("Tous les pays participants aux JO de Londres 2012 ont envoyÃ© des athlÃ¨tes fÃ©minines.")
else:
    missing_countries = set(all_countries) - set(countries_with_female_athletes)
    print(f"Les pays suivants n'ont pas envoyÃ© d'athlÃ¨tes fÃ©minines aux JO de Londres 2012 : {missing_countries}")

Les pays suivants n'ont pas envoyÃ© d'athlÃ¨tes fÃ©minines aux JO de Londres 2012 : {'Grenada', 'Botswana', 'Kuwait', 'Guatemala', 'Saudi Arabia', 'Trinidad and Tobago', 'Afghanistan', 'Georgia', 'Gabon', 'Cyprus', 'Islamic Republic of Iran', 'Dominican Republic', 'Venezuela', 'Algeria', 'Qatar', 'Puerto Rico', 'Portugal', 'Armenia', 'Estonia', 'Latvia', 'Uganda', 'Uzbekistan', 'Bahamas', 'Morocco'}

In [59]:
# 10. Les Jeux de 2016, Ã  Rio, marqueront la 1Ã¨ manifestation des JO en AmÃ©rique du Sud ?

 # Convertir les annÃ©es en entiers pour faciliter les filtrages
df_hosts['game_year'] = df_hosts['game_year'].astype(int)

# Filtrer pour voir si des Jeux ont Ã©tÃ© organisÃ©s en AmÃ©rique du Sud avant 2016
south_american_games_before_2016 = df_hosts[(df_hosts['game_location'].str.contains("Brazil|Argentina|Peru|Chile|Ecuador|Colombia|Venezuela", regex=True)) & (df_hosts['game_year'] < 2016)]

# VÃ©rifier si la liste est vide
if south_american_games_before_2016.empty:
    print("Les Jeux de 2016 Ã  Rio marquent la premiÃ¨re manifestation des JO en AmÃ©rique du Sud.")
else:
    print("Il y a eu des Jeux Olympiques en AmÃ©rique du Sud avant 2016. Voici les dÃ©tails :")
    print(south_american_games_before_2016)

Les Jeux de 2016 Ã  Rio marquent la premiÃ¨re manifestation des JO en AmÃ©rique du Sud.

In [62]:
# 11. Pendant les 17 jours des JO dâ€™Ã©tÃ© de 2016, 10 500 athlÃ¨tes, originaires de 205 pays, reprÃ©senteront 42 sports diffÃ©rents et participeront Ã  306 Ã©preuves, Ã  Rio ?

# Filtrer les donnÃ©es pour les Jeux de Rio 2016
rio_2016_medals = df_medals[df_medals['slug_game'] == 'rio-2016']

# Calculer les diffÃ©rentes statistiques demandÃ©es
number_of_athletes = len(rio_2016_medals['athlete_full_name'].unique())
number_of_countries = len(rio_2016_medals['country_name'].unique())
number_of_sports = len(rio_2016_medals['discipline_title'].unique())
number_of_events = rio_2016_medals['event_title'].nunique()

# Afficher les rÃ©sultats
print(f"Nombre d'athlÃ¨tes : {number_of_athletes}")
print(f"Nombre de pays : {number_of_countries}")
print(f"Nombre de sports : {number_of_sports}")
print(f"Nombre d'Ã©preuves : {number_of_events}")

Nombre d'athlÃ¨tes : 850
Nombre de pays : 86
Nombre de sports : 41
Nombre d'Ã©preuves : 289